{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | absolute_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include search/lunr-search-scripts.html %}
    {%- when "algolia" -%}
      {% include search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}

<script>
    // Handle logging of clicks
    var handleLinkClick = function(url) {
        ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
            function () {
                document.location = url;
            }
        });
    }

    function addOnClickEvent() {
        var links = document.getElementsByTagName("a");
        for (var i = 0; i < links.length; i++) {
            var link = links[i];
            var onClickAttribute = document.createAttribute("onclick");
            onClickAttribute.value = "handleLinkClick('" + link.href + "'); return false;";
            link.setAttributeNode(onClickAttribute);
        }
    }

    if (window.addEventListener) {
        window.addEventListener("load", addOnClickEvent, false);
    } else if (window.attachEvent) {
        window.attachEvent("onload", addOnClickEvent);
    } else {
        window.onload = addOnClickEvent;
    }
</script>

{% include /comments-providers/scripts.html %}
